body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.farkle_dice {
  width: 15vw;
  height: 15vw;
  max-width:100px;
  max-height: 100px;
  /* //border: 3px solid red; */
  background-color: red;
  position: relative;
  border-radius: 15%;
  margin: 0px 5px;
  box-shadow: 2px 2px darkred;
}

.frontPageDice {
  width: 4vw;
  height: 4vw;
  background-color: rgb(0, 156, 196);
  box-shadow: 2px 2px rgb(0, 107, 134);
}

.farkle_grid{
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: auto auto auto; */
  justify-content: space-around;
  align-content: space-around;
  padding: 8px;
}

.farkle_dot{
  /* grid-column: 1; */
  /* grid-row:1; */
  position: relative;
  width: 4vw;
  height: 4vw;
  max-width: 20px;
  max-height:20px;
  background-color: white;
  border-radius: 50%; 
}

@media (prefers-reduced-motion: no-preference) {
  .farkle_diceShrink {
    animation: dice-shrink 1 1s;
    animation-fill-mode: forwards;
  }
  .farkle_diceGrow {
    animation: dice-grow 1 1s;
    animation-fill-mode: forwards;
  }
  .farkle_diceGrey {
    animation: dice-fix 1 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes dice-shrink {
  from {
    /*transform: scale(1,1);*/
  }
  to {
    transform: scale(0.8,0.8);
    background-color: darkred;
    
  }
}

@keyframes dice-grow {
  from {
    transform: scale(0.8,0.8);
    background-color: darkred;
  }
  to {
    transform: scale(1,1);
    background-color: red;
    
  }
}

@keyframes dice-fix {
  from {
    transform: scale(0.8,0.8);
    background-color: darkred;
  }
  to {
    transform: scale(0.6,0.6);
    background-color: #333;   
    box-shadow: 2px 2px #111; 
  }
}

.farkle_bckgrnd{
  background-color: transparent;
}

.farkle_diceBoard_container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  /* width: 80%; */
  /* height: 50%; */
  max-width: 1000px;
  max-height: 400px;
  border: 5px solid #bbb;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}

.farkle_button {
  font-size: 1.1rem;
  /* background-color: aqua; */
  border: 3px solid #bbb;
  padding: 10px 15px;
  margin: 0px;
  margin-left: 15px;
  border-radius: 15px;
  width: 120px;
  color: white;
}

.farkle_disable_button {
  background-color: #ddd;
}

.farkle_active_button {
  background-color: #972cfa;
  border: 3px solid #40126c
}


.farkle_scoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.farkle_keepingScore {
  font-size: 1.4rem;
}

.farkle_h2, .farkle_h3 {
  color: #777
}

.farkle_farkled {
    font-family: 'DynaPuff', cursive;
    color: #ff00d4;
    font-size: 2.5rem;
    text-shadow: 2px 2px #282c34;
    margin:0;
    text-align: center;
}

.farkle_farkledh3 {
  font-family: 'DynaPuff', cursive;
  color: white;
  font-size: 1.8rem;
  text-shadow: 1px 1px 4px #282c34;
  margin-top:10px;
  text-align: center;
}

.farkle_scoreTextBox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left:10px;
  margin-right:10px;
  max-width: 90%;
}

.farkle_scoreTextBox_column{
  flex-direction:column-reverse;
}

.farkle_scoreTextBox_row{
  flex-direction:row;
}

.farkle_fullKeepBox {
  background-color: rgb(157, 81, 146);
  border-radius: 8px;
  border: 3px solid rgb(96, 49, 89);
  margin: 10px;
  padding: 5px;
  /* width: 150px;
  min-width: 100px;  */
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex: 0 1 170px;
  min-width:110px;
 
}

.farkle_fullBox {
  background-color: white;
  border: 3px solid #777;
}

.farkle_scoreText {
  color: white;
}

.farkle_scoreTextGrey {
  color: #777;
  margin:0;
  padding:3px;

}

.farkle_keepScoreText {
  color: #444;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  padding: 3px;
}

.farkle_playAgain {
  font-size: 1.1rem;
  /* background-color: aqua; */
  border: 3px solid #777;;
  padding: 10px 15px;
  margin: 20px auto;
  border-radius: 15px;
  width: 140px;
  background-color: white;
  color: #777;
}

.farkle_flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.farkle_highScore {
  position:absolute;
  top: 10px;
  left: 15%;
}

.farkle_totals {
  margin:5px;
  padding:0;
}

.farkle_App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  width:100vw;
  height:100vh;
  padding:10px;
  box-sizing: border-box;
  
}

.farkle_h1 {
  font-family: 'DynaPuff', cursive;
  color:#690bff;
  font-size: 80px;
  font-size: 4rem;
  text-shadow: 2px 2px #282c34;
  margin:0;
  margin-top: 40px;;
}

.farkle_buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-right: 30px; */
}

.farkle_lineUpButtons {
  display: flex;
  flex-direction:column;
  align-items: center;
  max-width: 80%;
  
}

.farkle_grid_small {
  grid-template-columns: auto auto auto ;
}

.farkle_grid_big {
  grid-template-columns: auto auto auto auto auto auto;
}

.farkle_diceBoard_container {
  display: grid;
  
  gap: 10px;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  /* width: 80%; */
  /* height: 50%; */
  max-width: 1000px;
  max-height: 400px;
  border: 5px solid #bbb;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}