.App {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 0px;
  align-items: start;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  grid-column: 1 / span 2;
  grid-row: 1;
}

.coursesColumn{
  grid-column: 1;
}

.projectsColumn{
  grid-column: 2;
  grid-row: 2;
}

.projElContainer {
  background-color:#caeaf3;
  background-image: linear-gradient(to bottom right, #caeaf3, #88e5ff);
  width: 100%;
  border-radius: 8px;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: fcenter;
  padding: 15px;
  margin:10px;
}

.infoBox {
  margin: 10px;
  width:50%;  
}

.hmargin {
  padding:0;
  margin: 2px;
  color: #555
}

.h2margin {
  padding:0;
  margin: 8px;
  color: #333;
  text-shadow: 2px 1px white;
}

.projImg {
  height: 60px;
  width:max-content;
  padding:0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.projImgBox {
  margin: 8px;
}

.App-header {
  background-color: "white";
 
  @media (max-width: 1920px) {
    background-color: "red";
  }
}